*.pyc
*.la
*.lo
*.loT
*.o
*.so
*~
tags
out
Makefile.qmake
Makefile
Makefile.in
.deps
.libs
ABOUT-NLS
INSTALL
aclocal.m4
autom4te.cache
compile
config.guess
config.h
config.h.in
config.log
config.rpath
config.status
config.sub
configure
depcomp
gtk-doc.make
install-sh
libtool
ltmain.sh
missing
stamp-h1
py-compile
ibus-hangul*.tar.*
ibus-hangul.spec
intltool-extract.in
intltool-merge.in
intltool-update.in

# vim temp backup file
.*.swp

# files for po
po/*.gmo
po/*.pot
po/stamp-po
po/stamp-it

# files for setup
setup/config.py
setup/ibus-setup-hangul

# files for engine
src/test.sh
src/hangul.xml
src/hangul.xml.in
src/ibus-engine-hangul
